<%=render "club_form", club: @club, form_title: "Edit Club"%>

<div id="delete-club" class="">
    <%=button_to "Delete club", club_path(@club), method: :delete, data: {confirm: "Are you sure?"}, class: "button"%>
</div>