<div id="edit-profile" class="flex-grow-1 d-flex justify-content-center align-items-start">
    <div class="profile-form-container bg-light p-3">
        <h3>Edit Profile</h3>

        <%=render "profile_form", profile: @profile%>
    </div>
</div>
