<%if flash[:error]%>
    <div class="alert alert-danger">
        <%flash[:error].each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </div>
<%end%>

<%= form_with model: comment, url: route do |form|%>
    <div class="form-group">
        <%=form.text_area :body, class: "form-control"%>
    </div>
    
    <%= form.submit "Submit", :class => "btn-sm form-control comment-submit"%>
<%end%>
