// COLORS

// $fb-color: rgb(103, 135, 194);
$fb-color: rgb(116, 160, 218);
$fb-dark: rgb(82, 111, 173);

$chat-background: rgb(235, 235, 235);
$muted-green: rgb(118, 211, 118);
$muted-red: rgb(240, 99, 99);