// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//find a way to make height basolutely constant
@import 'colors';

$chats-body-height: 75vh;

#chats {
    #chat-container {
        //placeholder untill conversation partial is loaded
        .temp {
            .mask {
                background-color: rgba(218, 218, 218, 0.4);
                backdrop-filter: blur(2px);
            }
            .topbar {
                .square {
                    min-width: 3rem;
                    background-color: $chat-background;
                    min-height: 3rem;
                }
                .name {
                    min-width: 7rem;
                    min-height: 1rem;
                    background-color: $chat-background;
                }
            }
            .body {
                background-color: $chat-background;
            }
            .botbar {
                min-height: 2.5rem;
                background-color: grey;
            }

            .text {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(173, 173, 173);
            }
        }
    }

    #partners-container {
        background-color: $fb-color;
        height: $chats-body-height;

        #chat-partners {
            overflow-y: auto;
        }
    }

    .chat {
        height: $chats-body-height;

        .chat-partner-info img{
            width: 3rem;
            height: 3rem;
            object-fit: cover;
        }
        .meta-info {
            font-size: 0.8rem;
        }
    }

    .private-chat {
        background-color: $chat-background;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

    //specifc message styling
    .me {
        align-self: flex-end;
        background-color: rgb(86, 206, 86);
        color: white;
        text-align: right;
    }

    .them {
        align-self: flex-start;
        background-color: white;
    }
}