// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//find a way to make height basolutely constant
@import 'colors';

$chats-body-height: 75vh;

#chats {
    #chat-container {
        .temp {
            background-color: rgba(156, 156, 156, 0.3);
        }
    }

    #partners-container {
        background-color: $fb-color;
        height: $chats-body-height;

        #chat-partners {
            overflow-y: auto;
        }
    }

    .chat {
        height: $chats-body-height;

        .chat-partner-info img{
            width: 3rem;
            height: 3rem;
        }
        .meta-info {
            font-size: 0.8rem;
        }
    }

    .private-chat {
        background-color: $chat-background;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

    //specifc message styling
    .me {
        align-self: flex-end;
        background-color: rgb(86, 206, 86);
        color: white;
        text-align: right;
    }

    .them {
        align-self: flex-start;
        background-color: white;
    }
}