// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'colors';

.chatroom {
    width: 900px;
    max-width: 95%;

    h4 {
        background-color: $fb-dark;
    }

    .chatroom-chat {
        background-color: $chat-background;
        height: 60vh;
        overflow-x: hidden;
        overflow-y: auto;

        .message {
            .meta-info{
                font-size: 0.75rem;
            }
        }
    }    
}