// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';
@import 'frame';


// new club and new club post buttons
#new-club-post {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
}

#new-club-button {
    width: fit-content;
}


//clubs index

#clubs {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1024px) {
        grid-template: auto / repeat(2, 1fr);
    }

    @media screen and (max-width: 640px) {
        grid-template: auto / 1fr;
    }

    .club {
        position: relative;
        color: $fb-dark;
        // width: $club-card-width;
        width: 100%;

        .member-count {
            background-color: rgba(54, 54, 54, 0.5);
            top: 0;
            right: 0;
        }
    }
}


//club card frame
.club-card-frame {
    @include frame;
}

.club-card-frame:after {
    @include frame-after;
    padding-bottom: 50%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

//club header frame

.club-header-frame {
    @include frame;
}

.club-header-frame:after {
    @include frame-after;
    padding-bottom: 30%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}


//club#show

#show-club {
    width: 75%;
    @media screen and (max-width: 768px) {
        width: 95%;
    }
}


#club-header {
    .main-info {
        .bar {
            bottom: 0;
            background-color: rgba(39, 39, 39, 0.3);
        }
    }
    .links a {
        text-decoration: none;
    }
}


#member-list, #blocked-members-list {
    background-color: $chat-background;
}

.member-card {
    .links {
        font-size: 14px;

        .block {
            text-decoration: none;
            background-color: $muted-red;
        }
    }
}

.badge {
    background-color: rgb(89, 207, 182);
}


// club form

.club-form, #delete-club {
    max-width: 600px;
    margin: 0 auto;
}

#delete-club {
    .button {
        background-color: rgb(194, 32, 32);
    }
}



