// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-submit {
    width: fit-content;
}

.comment {
    .content {
        width: 100%;
    }
    .topbar {
        // border: 1px solid;
    }
    .square-frame {
        width: 35px;

    }

    .date {
        font-size: 0.8rem;
    }
}