
//forgotten password
.pass-form {
    width: 500px;
    height: 300px;
    max-width: 90%;
    margin-top: 5rem;

}

//signup form
.signup-form {
    width: 500px;
    max-width: 90%;
}


//login

#login-form {
    width: 350px;
    min-height: 400px;
    max-width: 90%;
}


.login-footer {
    background-color: rgba(172, 172, 172, 0.2);

    a {
        text-decoration: none;
    }
}

