// // Place all the styles related to the posts controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/

//should have same styling as edit wall post form

@import 'colors';

#main-posts .post {
    width: 500px;
}

.form-container {
    width: fit-content;
    margin: 0 auto;
}

.submit-button {
    background-color: $muted-green;
}
