// // Place all the styles related to the posts controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/

//should have same styling as edit wall post form

@import 'colors';

.form-container {
    width: 700px;
    max-width: 90%;
    margin: 0 auto;

    .body {
        min-height: 150px;
    }
    .file-field {
        width: fit-content;
    }
}

#post-container {
    .body {
        font-size: 1rem;
    }
}

.submit-button {
    background-color: $muted-green;
}
